<!-- layout.ejs (p. 162) -->
<head>
    <title>My page</title>
</head>
<body>
    <header id="nav">
        <%- include('partials/navigation') %>
    </header>
    <%- body %><!-- 표준 HTML로 본문 둘러싸기 -->
    <footer id="footer">&copy; 2024 Aaron</footer>
</body>